{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "REST API"
  },
  "servers": [
    {
      "url": "https://api.lyra.finance"
    }
  ],
  "paths": {
    "/public/create_account": {
      "post": {
        "tags": ["Public"],
        "summary": "Create Account",
        "description": "Create a new account",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["id", "result"],
                  "properties": {
                    "id": {
                      "anyOf": [
                        {
                          "title": "",
                          "type": "string"
                        },
                        {
                          "title": "",
                          "type": "integer"
                        }
                      ]
                    },
                    "result": {
                      "required": ["status", "wallet"],
                      "properties": {
                        "status": {
                          "title": "status",
                          "type": "string",
                          "description": "`created` or `exists`"
                        },
                        "wallet": {
                          "title": "wallet",
                          "type": "string",
                          "description": "Ethereum wallet address"
                        }
                      },
                      "type": "object",
                      "additionalProperties": false
                    }
                  },
                  "type": "object",
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": ["wallet"],
                "properties": {
                  "wallet": {
                    "title": "wallet",
                    "type": "string",
                    "description": "Ethereum wallet address"
                  }
                },
                "type": "object",
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/public/build_register_session_key_tx": {
      "post": {
        "tags": ["Public"],
        "summary": "Build Register Session Key Tx",
        "description": "Build a signable transaction params dictionary.",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["id", "result"],
                  "properties": {
                    "id": {
                      "anyOf": [
                        {
                          "title": "",
                          "type": "string"
                        },
                        {
                          "title": "",
                          "type": "integer"
                        }
                      ]
                    },
                    "result": {
                      "required": ["tx_params"],
                      "properties": {
                        "tx_params": {
                          "title": "tx_params",
                          "type": "object",
                          "description": "Transaction params in dictionary form, same as `TxParams` in `web3.py`",
                          "additionalProperties": {}
                        }
                      },
                      "type": "object",
                      "additionalProperties": false
                    }
                  },
                  "type": "object",
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": ["expiry_sec", "gas", "nonce", "public_session_key", "wallet"],
                "properties": {
                  "expiry_sec": {
                    "title": "expiry_sec",
                    "type": "integer",
                    "description": "Expiry of the session key"
                  },
                  "gas": {
                    "title": "gas",
                    "type": "integer",
                    "default": null,
                    "description": "Gas allowance for transaction. If none, will use estimateGas * 150%",
                    "nullable": true
                  },
                  "nonce": {
                    "title": "nonce",
                    "type": "integer",
                    "default": null,
                    "description": "Wallet's transaction count, If none, will use eth.getTransactionCount()",
                    "nullable": true
                  },
                  "public_session_key": {
                    "title": "public_session_key",
                    "type": "string",
                    "description": "Session key in the form of an Ethereum EOA"
                  },
                  "wallet": {
                    "title": "wallet",
                    "type": "string",
                    "description": "Ethereum wallet address of account"
                  }
                },
                "type": "object",
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/public/register_session_key": {
      "post": {
        "tags": ["Public"],
        "summary": "Register Session Key",
        "description": "Register or update expiry of an existing session key.",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["id", "result"],
                  "properties": {
                    "id": {
                      "anyOf": [
                        {
                          "title": "",
                          "type": "string"
                        },
                        {
                          "title": "",
                          "type": "integer"
                        }
                      ]
                    },
                    "result": {
                      "required": ["label", "public_session_key", "transaction_id"],
                      "properties": {
                        "label": {
                          "title": "label",
                          "type": "string",
                          "description": "User-defined session key label"
                        },
                        "public_session_key": {
                          "title": "public_session_key",
                          "type": "string",
                          "description": "Session key in the form of an Ethereum EOA"
                        },
                        "transaction_id": {
                          "title": "transaction_id",
                          "type": "string",
                          "format": "uuid",
                          "description": "ID to lookup status of transaction"
                        }
                      },
                      "type": "object",
                      "additionalProperties": false
                    }
                  },
                  "type": "object",
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": ["expiry_sec", "label", "public_session_key", "signed_raw_tx", "wallet"],
                "properties": {
                  "expiry_sec": {
                    "title": "expiry_sec",
                    "type": "integer",
                    "description": "Expiry of the session key"
                  },
                  "label": {
                    "title": "label",
                    "type": "string",
                    "description": "Ethereum wallet address"
                  },
                  "public_session_key": {
                    "title": "public_session_key",
                    "type": "string",
                    "description": "Session key in the form of an Ethereum EOA"
                  },
                  "signed_raw_tx": {
                    "title": "signed_raw_tx",
                    "type": "string",
                    "description": "A signed RLP encoded ETH transaction in form of a hex string (same as `w3.eth.account.sign_transaction(unsigned_tx, private_key).rawTransaction.hex()`)"
                  },
                  "wallet": {
                    "title": "wallet",
                    "type": "string",
                    "description": "Ethereum wallet address of account"
                  }
                },
                "type": "object",
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/public/deregister_session_key": {
      "post": {
        "tags": ["Public"],
        "summary": "Deregister Session Key",
        "description": "",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["id", "result"],
                  "properties": {
                    "id": {
                      "anyOf": [
                        {
                          "title": "",
                          "type": "string"
                        },
                        {
                          "title": "",
                          "type": "integer"
                        }
                      ]
                    },
                    "result": {
                      "required": ["public_session_key", "transaction_id"],
                      "properties": {
                        "public_session_key": {
                          "title": "public_session_key",
                          "type": "string",
                          "description": "Session key in the form of an Ethereum EOA"
                        },
                        "transaction_id": {
                          "title": "transaction_id",
                          "type": "string",
                          "format": "uuid",
                          "description": "ID to lookup status of transaction"
                        }
                      },
                      "type": "object",
                      "additionalProperties": false
                    }
                  },
                  "type": "object",
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": ["public_session_key", "signed_raw_tx", "wallet"],
                "properties": {
                  "public_session_key": {
                    "title": "public_session_key",
                    "type": "string",
                    "description": "Session key in the form of an Ethereum EOA"
                  },
                  "signed_raw_tx": {
                    "title": "signed_raw_tx",
                    "type": "string",
                    "description": "A signed RLP encoded ETH transaction in form of a hex string (same as `w3.eth.account.sign_transaction(unsigned_tx, private_key).rawTransaction.hex()`)"
                  },
                  "wallet": {
                    "title": "wallet",
                    "type": "string",
                    "description": "Ethereum wallet address of account"
                  }
                },
                "type": "object",
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/public/login": {
      "post": {
        "tags": ["Public"],
        "summary": "Login",
        "description": "Authenticate a websocket connection. Unavailable via HTTP.",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["id", "result"],
                  "properties": {
                    "id": {
                      "anyOf": [
                        {
                          "title": "",
                          "type": "string"
                        },
                        {
                          "title": "",
                          "type": "integer"
                        }
                      ]
                    },
                    "result": {
                      "title": "result",
                      "type": "array",
                      "description": "List of subaccount IDs that have been authenticated",
                      "items": {
                        "title": "result",
                        "type": "integer"
                      }
                    }
                  },
                  "type": "object",
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": ["signature", "timestamp", "wallet"],
                "properties": {
                  "signature": {
                    "title": "signature",
                    "type": "string",
                    "description": "Signature of the timestamp, signed with the wallet's private key or a session key"
                  },
                  "timestamp": {
                    "title": "timestamp",
                    "type": "string",
                    "description": "Message that was signed, in the form of a timestamp in ms since Unix epoch"
                  },
                  "wallet": {
                    "title": "wallet",
                    "type": "string",
                    "description": "Public key (wallet) of the account"
                  }
                },
                "type": "object",
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/public/get_instrument": {
      "post": {
        "tags": ["Public"],
        "summary": "Get Instrument",
        "description": "Get single instrument by asset name",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["id", "result"],
                  "properties": {
                    "id": {
                      "anyOf": [
                        {
                          "title": "",
                          "type": "string"
                        },
                        {
                          "title": "",
                          "type": "integer"
                        }
                      ]
                    },
                    "result": {
                      "required": [
                        "amount_step",
                        "base_asset_address",
                        "base_asset_sub_id",
                        "base_currency",
                        "base_fee",
                        "instrument_name",
                        "instrument_type",
                        "is_active",
                        "maker_fee_rate",
                        "maximum_amount",
                        "minimum_amount",
                        "option_details",
                        "perp_details",
                        "quote_currency",
                        "scheduled_activation",
                        "scheduled_deactivation",
                        "taker_fee_rate",
                        "tick_size"
                      ],
                      "properties": {
                        "amount_step": {
                          "title": "amount_step",
                          "type": "string",
                          "format": "decimal",
                          "description": "Minimum valid increment of order amount"
                        },
                        "base_asset_address": {
                          "title": "base_asset_address",
                          "type": "string",
                          "description": "Blockchain address of the base asset"
                        },
                        "base_asset_sub_id": {
                          "title": "base_asset_sub_id",
                          "type": "string",
                          "description": "Sub ID of the specific base asset as defined in Asset.sol"
                        },
                        "base_currency": {
                          "title": "base_currency",
                          "type": "string",
                          "description": "Underlying currency of base asset (`ETH`, `BTC`, etc)"
                        },
                        "base_fee": {
                          "title": "base_fee",
                          "type": "string",
                          "format": "decimal",
                          "description": "$ base fee added to every taker order"
                        },
                        "instrument_name": {
                          "title": "instrument_name",
                          "type": "string",
                          "description": "Instrument name"
                        },
                        "instrument_type": {
                          "title": "instrument_type",
                          "type": "string",
                          "enum": ["erc20", "option", "perp"],
                          "description": "`erc20`, `option`, or `perp`"
                        },
                        "is_active": {
                          "title": "is_active",
                          "type": "boolean",
                          "description": "If `True`: instrument is tradeable within `activation` and `deactivation` timestamps"
                        },
                        "maker_fee_rate": {
                          "title": "maker_fee_rate",
                          "type": "string",
                          "format": "decimal",
                          "description": "Percent of spot price fee rate for makers"
                        },
                        "mark_price_fee_rate_cap": {
                          "title": "mark_price_fee_rate_cap",
                          "type": "string",
                          "format": "decimal",
                          "default": null,
                          "description": "Percent of option price fee cap, e.g. 12.5%, null if not applicable",
                          "nullable": true
                        },
                        "maximum_amount": {
                          "title": "maximum_amount",
                          "type": "string",
                          "format": "decimal",
                          "description": "Maximum valid amount of contracts / tokens per trade"
                        },
                        "minimum_amount": {
                          "title": "minimum_amount",
                          "type": "string",
                          "format": "decimal",
                          "description": "Minimum valid amount of contracts / tokens per trade"
                        },
                        "option_details": {
                          "required": ["expiry", "index", "option_type", "strike"],
                          "properties": {
                            "expiry": {
                              "title": "expiry",
                              "type": "integer",
                              "description": "Unix timestamp of expiry date (in seconds)"
                            },
                            "index": {
                              "title": "index",
                              "type": "string",
                              "description": "Underlying settlement price index"
                            },
                            "option_type": {
                              "title": "option_type",
                              "type": "string",
                              "enum": ["C", "P"]
                            },
                            "settlement_price": {
                              "title": "settlement_price",
                              "type": "string",
                              "format": "decimal",
                              "default": null,
                              "description": "Settlement price of the option",
                              "nullable": true
                            },
                            "strike": {
                              "title": "strike",
                              "type": "string",
                              "format": "decimal"
                            }
                          },
                          "type": "object",
                          "additionalProperties": false
                        },
                        "perp_details": {
                          "required": [
                            "aggregate_funding",
                            "funding_rate",
                            "index",
                            "max_rate_per_hour",
                            "min_rate_per_hour",
                            "static_interest_rate"
                          ],
                          "properties": {
                            "aggregate_funding": {
                              "title": "aggregate_funding",
                              "type": "string",
                              "format": "decimal",
                              "description": "Latest aggregated funding as per `PerpAsset.sol`"
                            },
                            "funding_rate": {
                              "title": "funding_rate",
                              "type": "string",
                              "format": "decimal",
                              "description": "Current hourly funding rate as per `PerpAsset.sol`"
                            },
                            "index": {
                              "title": "index",
                              "type": "string",
                              "description": "Underlying spot price index for funding rate"
                            },
                            "max_rate_per_hour": {
                              "title": "max_rate_per_hour",
                              "type": "string",
                              "format": "decimal",
                              "description": "Max rate per hour as per `PerpAsset.sol`"
                            },
                            "min_rate_per_hour": {
                              "title": "min_rate_per_hour",
                              "type": "string",
                              "format": "decimal",
                              "description": "Min rate per hour as per `PerpAsset.sol`"
                            },
                            "static_interest_rate": {
                              "title": "static_interest_rate",
                              "type": "string",
                              "format": "decimal",
                              "description": "Static interest rate as per `PerpAsset.sol`"
                            }
                          },
                          "type": "object",
                          "additionalProperties": false
                        },
                        "quote_currency": {
                          "title": "quote_currency",
                          "type": "string",
                          "description": "Quote currency (`USD` for perps, `USDC` for options)"
                        },
                        "scheduled_activation": {
                          "title": "scheduled_activation",
                          "type": "integer",
                          "description": "Timestamp at which became or will become active (if applicable)"
                        },
                        "scheduled_deactivation": {
                          "title": "scheduled_deactivation",
                          "type": "integer",
                          "description": "Scheduled deactivation time for instrument (if applicable)"
                        },
                        "taker_fee_rate": {
                          "title": "taker_fee_rate",
                          "type": "string",
                          "format": "decimal",
                          "description": "Percent of spot price fee rate for takers"
                        },
                        "tick_size": {
                          "title": "tick_size",
                          "type": "string",
                          "format": "decimal",
                          "description": "Tick size of the instrument, i.e. minimum price increment"
                        }
                      },
                      "type": "object",
                      "additionalProperties": false
                    }
                  },
                  "type": "object",
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": ["instrument_name"],
                "properties": {
                  "instrument_name": {
                    "title": "instrument_name",
                    "type": "string",
                    "description": "Instrument name"
                  }
                },
                "type": "object",
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/public/get_instruments": {
      "post": {
        "tags": ["Public"],
        "summary": "Get Instruments",
        "description": "Get all active instruments for a given `currency` and `type`",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["id", "result"],
                  "properties": {
                    "id": {
                      "anyOf": [
                        {
                          "title": "",
                          "type": "string"
                        },
                        {
                          "title": "",
                          "type": "integer"
                        }
                      ]
                    },
                    "result": {
                      "title": "result",
                      "type": "array",
                      "description": "",
                      "items": {
                        "required": [
                          "amount_step",
                          "base_asset_address",
                          "base_asset_sub_id",
                          "base_currency",
                          "base_fee",
                          "instrument_name",
                          "instrument_type",
                          "is_active",
                          "maker_fee_rate",
                          "maximum_amount",
                          "minimum_amount",
                          "option_details",
                          "perp_details",
                          "quote_currency",
                          "scheduled_activation",
                          "scheduled_deactivation",
                          "taker_fee_rate",
                          "tick_size"
                        ],
                        "properties": {
                          "amount_step": {
                            "title": "amount_step",
                            "type": "string",
                            "format": "decimal",
                            "description": "Minimum valid increment of order amount"
                          },
                          "base_asset_address": {
                            "title": "base_asset_address",
                            "type": "string",
                            "description": "Blockchain address of the base asset"
                          },
                          "base_asset_sub_id": {
                            "title": "base_asset_sub_id",
                            "type": "string",
                            "description": "Sub ID of the specific base asset as defined in Asset.sol"
                          },
                          "base_currency": {
                            "title": "base_currency",
                            "type": "string",
                            "description": "Underlying currency of base asset (`ETH`, `BTC`, etc)"
                          },
                          "base_fee": {
                            "title": "base_fee",
                            "type": "string",
                            "format": "decimal",
                            "description": "$ base fee added to every taker order"
                          },
                          "instrument_name": {
                            "title": "instrument_name",
                            "type": "string",
                            "description": "Instrument name"
                          },
                          "instrument_type": {
                            "title": "instrument_type",
                            "type": "string",
                            "enum": ["erc20", "option", "perp"],
                            "description": "`erc20`, `option`, or `perp`"
                          },
                          "is_active": {
                            "title": "is_active",
                            "type": "boolean",
                            "description": "If `True`: instrument is tradeable within `activation` and `deactivation` timestamps"
                          },
                          "maker_fee_rate": {
                            "title": "maker_fee_rate",
                            "type": "string",
                            "format": "decimal",
                            "description": "Percent of spot price fee rate for makers"
                          },
                          "mark_price_fee_rate_cap": {
                            "title": "mark_price_fee_rate_cap",
                            "type": "string",
                            "format": "decimal",
                            "default": null,
                            "description": "Percent of option price fee cap, e.g. 12.5%, null if not applicable",
                            "nullable": true
                          },
                          "maximum_amount": {
                            "title": "maximum_amount",
                            "type": "string",
                            "format": "decimal",
                            "description": "Maximum valid amount of contracts / tokens per trade"
                          },
                          "minimum_amount": {
                            "title": "minimum_amount",
                            "type": "string",
                            "format": "decimal",
                            "description": "Minimum valid amount of contracts / tokens per trade"
                          },
                          "option_details": {
                            "required": ["expiry", "index", "option_type", "strike"],
                            "properties": {
                              "expiry": {
                                "title": "expiry",
                                "type": "integer",
                                "description": "Unix timestamp of expiry date (in seconds)"
                              },
                              "index": {
                                "title": "index",
                                "type": "string",
                                "description": "Underlying settlement price index"
                              },
                              "option_type": {
                                "title": "option_type",
                                "type": "string",
                                "enum": ["C", "P"]
                              },
                              "settlement_price": {
                                "title": "settlement_price",
                                "type": "string",
                                "format": "decimal",
                                "default": null,
                                "description": "Settlement price of the option",
                                "nullable": true
                              },
                              "strike": {
                                "title": "strike",
                                "type": "string",
                                "format": "decimal"
                              }
                            },
                            "type": "object",
                            "additionalProperties": false
                          },
                          "perp_details": {
                            "required": [
                              "aggregate_funding",
                              "funding_rate",
                              "index",
                              "max_rate_per_hour",
                              "min_rate_per_hour",
                              "static_interest_rate"
                            ],
                            "properties": {
                              "aggregate_funding": {
                                "title": "aggregate_funding",
                                "type": "string",
                                "format": "decimal",
                                "description": "Latest aggregated funding as per `PerpAsset.sol`"
                              },
                              "funding_rate": {
                                "title": "funding_rate",
                                "type": "string",
                                "format": "decimal",
                                "description": "Current hourly funding rate as per `PerpAsset.sol`"
                              },
                              "index": {
                                "title": "index",
                                "type": "string",
                                "description": "Underlying spot price index for funding rate"
                              },
                              "max_rate_per_hour": {
                                "title": "max_rate_per_hour",
                                "type": "string",
                                "format": "decimal",
                                "description": "Max rate per hour as per `PerpAsset.sol`"
                              },
                              "min_rate_per_hour": {
                                "title": "min_rate_per_hour",
                                "type": "string",
                                "format": "decimal",
                                "description": "Min rate per hour as per `PerpAsset.sol`"
                              },
                              "static_interest_rate": {
                                "title": "static_interest_rate",
                                "type": "string",
                                "format": "decimal",
                                "description": "Static interest rate as per `PerpAsset.sol`"
                              }
                            },
                            "type": "object",
                            "additionalProperties": false
                          },
                          "quote_currency": {
                            "title": "quote_currency",
                            "type": "string",
                            "description": "Quote currency (`USD` for perps, `USDC` for options)"
                          },
                          "scheduled_activation": {
                            "title": "scheduled_activation",
                            "type": "integer",
                            "description": "Timestamp at which became or will become active (if applicable)"
                          },
                          "scheduled_deactivation": {
                            "title": "scheduled_deactivation",
                            "type": "integer",
                            "description": "Scheduled deactivation time for instrument (if applicable)"
                          },
                          "taker_fee_rate": {
                            "title": "taker_fee_rate",
                            "type": "string",
                            "format": "decimal",
                            "description": "Percent of spot price fee rate for takers"
                          },
                          "tick_size": {
                            "title": "tick_size",
                            "type": "string",
                            "format": "decimal",
                            "description": "Tick size of the instrument, i.e. minimum price increment"
                          }
                        },
                        "type": "object",
                        "additionalProperties": false
                      }
                    }
                  },
                  "type": "object",
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": ["currency", "expired", "instrument_type"],
                "properties": {
                  "currency": {
                    "title": "currency",
                    "type": "string",
                    "description": "Underlying currency of asset (`ETH`, `BTC`, etc)"
                  },
                  "expired": {
                    "title": "expired",
                    "type": "boolean",
                    "description": "If `True`: include expired assets"
                  },
                  "instrument_type": {
                    "title": "instrument_type",
                    "type": "string",
                    "enum": ["erc20", "option", "perp"],
                    "description": "`erc20`, `option`, or `perp`"
                  }
                },
                "type": "object",
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/public/get_ticker": {
      "post": {
        "tags": ["Public"],
        "summary": "Get Ticker",
        "description": "Get all active instrument tickers for a given `currency` and `type`",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["id", "result"],
                  "properties": {
                    "id": {
                      "anyOf": [
                        {
                          "title": "",
                          "type": "string"
                        },
                        {
                          "title": "",
                          "type": "integer"
                        }
                      ]
                    },
                    "result": {
                      "required": [
                        "amount_step",
                        "base_asset_address",
                        "base_asset_sub_id",
                        "base_currency",
                        "base_fee",
                        "best_ask_amount",
                        "best_ask_price",
                        "best_bid_amount",
                        "best_bid_price",
                        "index_price",
                        "instrument_name",
                        "instrument_type",
                        "is_active",
                        "maker_fee_rate",
                        "mark_price",
                        "max_price",
                        "maximum_amount",
                        "min_price",
                        "minimum_amount",
                        "option_details",
                        "option_pricing",
                        "perp_details",
                        "quote_currency",
                        "scheduled_activation",
                        "scheduled_deactivation",
                        "stats",
                        "taker_fee_rate",
                        "tick_size",
                        "timestamp"
                      ],
                      "properties": {
                        "amount_step": {
                          "title": "amount_step",
                          "type": "string",
                          "format": "decimal",
                          "description": "Minimum valid increment of order amount"
                        },
                        "base_asset_address": {
                          "title": "base_asset_address",
                          "type": "string",
                          "description": "Blockchain address of the base asset"
                        },
                        "base_asset_sub_id": {
                          "title": "base_asset_sub_id",
                          "type": "string",
                          "description": "Sub ID of the specific base asset as defined in Asset.sol"
                        },
                        "base_currency": {
                          "title": "base_currency",
                          "type": "string",
                          "description": "Underlying currency of base asset (`ETH`, `BTC`, etc)"
                        },
                        "base_fee": {
                          "title": "base_fee",
                          "type": "string",
                          "format": "decimal",
                          "description": "$ base fee added to every taker order"
                        },
                        "best_ask_amount": {
                          "title": "best_ask_amount",
                          "type": "string",
                          "format": "decimal",
                          "description": "Amount of contracts / tokens available at best ask price"
                        },
                        "best_ask_price": {
                          "title": "best_ask_price",
                          "type": "string",
                          "format": "decimal",
                          "description": "Best ask price"
                        },
                        "best_bid_amount": {
                          "title": "best_bid_amount",
                          "type": "string",
                          "format": "decimal",
                          "description": "Amount of contracts / tokens available at best bid price"
                        },
                        "best_bid_price": {
                          "title": "best_bid_price",
                          "type": "string",
                          "format": "decimal",
                          "description": "Best bid price"
                        },
                        "index_price": {
                          "title": "index_price",
                          "type": "string",
                          "format": "decimal",
                          "description": "Index price"
                        },
                        "instrument_name": {
                          "title": "instrument_name",
                          "type": "string",
                          "description": "Instrument name"
                        },
                        "instrument_type": {
                          "title": "instrument_type",
                          "type": "string",
                          "enum": ["erc20", "option", "perp"],
                          "description": "`erc20`, `option`, or `perp`"
                        },
                        "is_active": {
                          "title": "is_active",
                          "type": "boolean",
                          "description": "If `True`: instrument is tradeable within `activation` and `deactivation` timestamps"
                        },
                        "maker_fee_rate": {
                          "title": "maker_fee_rate",
                          "type": "string",
                          "format": "decimal",
                          "description": "Percent of spot price fee rate for makers"
                        },
                        "mark_price": {
                          "title": "mark_price",
                          "type": "string",
                          "format": "decimal",
                          "description": "Mark price"
                        },
                        "mark_price_fee_rate_cap": {
                          "title": "mark_price_fee_rate_cap",
                          "type": "string",
                          "format": "decimal",
                          "default": null,
                          "description": "Percent of option price fee cap, e.g. 12.5%, null if not applicable",
                          "nullable": true
                        },
                        "max_price": {
                          "title": "max_price",
                          "type": "string",
                          "format": "decimal",
                          "description": "Maximum price at which an agressive buyer can be matched. Any portion of a market order that would execute above this price will be cancelled. A limit buy order with limit price above this value is treated as post only (i.e. it will be rejected if it would cross any existing resting order)."
                        },
                        "maximum_amount": {
                          "title": "maximum_amount",
                          "type": "string",
                          "format": "decimal",
                          "description": "Maximum valid amount of contracts / tokens per trade"
                        },
                        "min_price": {
                          "title": "min_price",
                          "type": "string",
                          "format": "decimal",
                          "description": "Minimum price at which an agressive seller can be matched. Any portion of a market order that would execute below this price will be cancelled. A limit sell order with limit price below this value is treated as post only (i.e. it will be rejected if it would cross any existing resting order)."
                        },
                        "minimum_amount": {
                          "title": "minimum_amount",
                          "type": "string",
                          "format": "decimal",
                          "description": "Minimum valid amount of contracts / tokens per trade"
                        },
                        "option_details": {
                          "required": ["expiry", "index", "option_type", "strike"],
                          "properties": {
                            "expiry": {
                              "title": "expiry",
                              "type": "integer",
                              "description": "Unix timestamp of expiry date (in seconds)"
                            },
                            "index": {
                              "title": "index",
                              "type": "string",
                              "description": "Underlying settlement price index"
                            },
                            "option_type": {
                              "title": "option_type",
                              "type": "string",
                              "enum": ["C", "P"]
                            },
                            "settlement_price": {
                              "title": "settlement_price",
                              "type": "string",
                              "format": "decimal",
                              "default": null,
                              "description": "Settlement price of the option",
                              "nullable": true
                            },
                            "strike": {
                              "title": "strike",
                              "type": "string",
                              "format": "decimal"
                            }
                          },
                          "type": "object",
                          "additionalProperties": false
                        },
                        "option_pricing": {
                          "required": [
                            "ask_iv",
                            "bid_iv",
                            "delta",
                            "forward_price",
                            "gamma",
                            "iv",
                            "mark_price",
                            "rho",
                            "theta",
                            "vega"
                          ],
                          "properties": {
                            "ask_iv": {
                              "title": "ask_iv",
                              "type": "string",
                              "format": "decimal",
                              "description": "Implied volatility of the current best ask"
                            },
                            "bid_iv": {
                              "title": "bid_iv",
                              "type": "string",
                              "format": "decimal",
                              "description": "Implied volatility of the current best bid"
                            },
                            "delta": {
                              "title": "delta",
                              "type": "string",
                              "format": "decimal",
                              "description": "Delta of the option"
                            },
                            "forward_price": {
                              "title": "forward_price",
                              "type": "string",
                              "format": "decimal",
                              "description": "Forward price used to calculate option premium"
                            },
                            "gamma": {
                              "title": "gamma",
                              "type": "string",
                              "format": "decimal",
                              "description": "Gamma of the option"
                            },
                            "iv": {
                              "title": "iv",
                              "type": "string",
                              "format": "decimal",
                              "description": "Implied volatility of the option"
                            },
                            "mark_price": {
                              "title": "mark_price",
                              "type": "string",
                              "format": "decimal",
                              "description": "Mark price of the option"
                            },
                            "rho": {
                              "title": "rho",
                              "type": "string",
                              "format": "decimal",
                              "description": "Rho of the option"
                            },
                            "theta": {
                              "title": "theta",
                              "type": "string",
                              "format": "decimal",
                              "description": "Theta of the option"
                            },
                            "vega": {
                              "title": "vega",
                              "type": "string",
                              "format": "decimal",
                              "description": "Vega of the option"
                            }
                          },
                          "type": "object",
                          "additionalProperties": false
                        },
                        "perp_details": {
                          "required": [
                            "aggregate_funding",
                            "funding_rate",
                            "index",
                            "max_rate_per_hour",
                            "min_rate_per_hour",
                            "static_interest_rate"
                          ],
                          "properties": {
                            "aggregate_funding": {
                              "title": "aggregate_funding",
                              "type": "string",
                              "format": "decimal",
                              "description": "Latest aggregated funding as per `PerpAsset.sol`"
                            },
                            "funding_rate": {
                              "title": "funding_rate",
                              "type": "string",
                              "format": "decimal",
                              "description": "Current hourly funding rate as per `PerpAsset.sol`"
                            },
                            "index": {
                              "title": "index",
                              "type": "string",
                              "description": "Underlying spot price index for funding rate"
                            },
                            "max_rate_per_hour": {
                              "title": "max_rate_per_hour",
                              "type": "string",
                              "format": "decimal",
                              "description": "Max rate per hour as per `PerpAsset.sol`"
                            },
                            "min_rate_per_hour": {
                              "title": "min_rate_per_hour",
                              "type": "string",
                              "format": "decimal",
                              "description": "Min rate per hour as per `PerpAsset.sol`"
                            },
                            "static_interest_rate": {
                              "title": "static_interest_rate",
                              "type": "string",
                              "format": "decimal",
                              "description": "Static interest rate as per `PerpAsset.sol`"
                            }
                          },
                          "type": "object",
                          "additionalProperties": false
                        },
                        "quote_currency": {
                          "title": "quote_currency",
                          "type": "string",
                          "description": "Quote currency (`USD` for perps, `USDC` for options)"
                        },
                        "scheduled_activation": {
                          "title": "scheduled_activation",
                          "type": "integer",
                          "description": "Timestamp at which became or will become active (if applicable)"
                        },
                        "scheduled_deactivation": {
                          "title": "scheduled_deactivation",
                          "type": "integer",
                          "description": "Scheduled deactivation time for instrument (if applicable)"
                        },
                        "stats": {
                          "required": [
                            "contract_volume",
                            "high",
                            "low",
                            "num_trades",
                            "open_interest",
                            "percent_change",
                            "usd_change"
                          ],
                          "properties": {
                            "contract_volume": {
                              "title": "contract_volume",
                              "type": "string",
                              "format": "decimal",
                              "description": "Number of contracts traded during last 24 hours"
                            },
                            "high": {
                              "title": "high",
                              "type": "string",
                              "format": "decimal",
                              "description": "Highest trade price during last 24h"
                            },
                            "low": {
                              "title": "low",
                              "type": "string",
                              "format": "decimal",
                              "description": "Lowest trade price during last 24h"
                            },
                            "num_trades": {
                              "title": "num_trades",
                              "type": "string",
                              "format": "decimal",
                              "description": "Number of trades during last 24h "
                            },
                            "open_interest": {
                              "title": "open_interest",
                              "type": "string",
                              "format": "decimal",
                              "description": "Current total open interest"
                            },
                            "percent_change": {
                              "title": "percent_change",
                              "type": "string",
                              "format": "decimal",
                              "description": "24-hour price change expressed as a percentage. Options: percent change in vol; Perps: percent change in mark price"
                            },
                            "usd_change": {
                              "title": "usd_change",
                              "type": "string",
                              "format": "decimal",
                              "description": "24-hour price change in USD."
                            }
                          },
                          "type": "object",
                          "additionalProperties": false
                        },
                        "taker_fee_rate": {
                          "title": "taker_fee_rate",
                          "type": "string",
                          "format": "decimal",
                          "description": "Percent of spot price fee rate for takers"
                        },
                        "tick_size": {
                          "title": "tick_size",
                          "type": "string",
                          "format": "decimal",
                          "description": "Tick size of the instrument, i.e. minimum price increment"
                        },
                        "timestamp": {
                          "title": "timestamp",
                          "type": "integer",
                          "description": "Timestamp of the ticker feed snapshot"
                        }
                      },
                      "type": "object",
                      "additionalProperties": false
                    }
                  },
                  "type": "object",
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": ["instrument_name"],
                "properties": {
                  "instrument_name": {
                    "title": "instrument_name",
                    "type": "string",
                    "description": "Instrument name"
                  }
                },
                "type": "object",
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/public/get_latest_signed_feeds": {
      "post": {
        "tags": ["Public"],
        "summary": "Get Latest Signed Feeds",
        "description": "Get latest signed data feeds",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["id", "result"],
                  "properties": {
                    "id": {
                      "anyOf": [
                        {
                          "title": "",
                          "type": "string"
                        },
                        {
                          "title": "",
                          "type": "integer"
                        }
                      ]
                    },
                    "result": {
                      "required": ["fwd_data", "perp_data", "spot_data", "vol_data"],
                      "properties": {
                        "fwd_data": {
                          "title": "fwd_data",
                          "type": "object",
                          "description": "currency -> expiry -> latest forward feed data",
                          "additionalProperties": {
                            "title": "fwd_data",
                            "type": "object",
                            "additionalProperties": {
                              "required": [
                                "confidence",
                                "currency",
                                "deadline",
                                "expiry",
                                "fwd_diff",
                                "signatures",
                                "spot_aggregate_latest",
                                "spot_aggregate_start",
                                "timestamp"
                              ],
                              "properties": {
                                "confidence": {
                                  "title": "confidence",
                                  "type": "string",
                                  "format": "decimal",
                                  "description": "The confidence score of the price"
                                },
                                "currency": {
                                  "title": "currency",
                                  "type": "string",
                                  "description": "The currency for which the spot feed represents"
                                },
                                "deadline": {
                                  "title": "deadline",
                                  "type": "integer",
                                  "description": "The latest time the data can be submitted on chain"
                                },
                                "expiry": {
                                  "title": "expiry",
                                  "type": "integer",
                                  "description": "The expiry for the forward feed"
                                },
                                "fwd_diff": {
                                  "title": "fwd_diff",
                                  "type": "string",
                                  "format": "decimal",
                                  "description": "difference of forward price from current spot price"
                                },
                                "signatures": {
                                  "properties": {
                                    "signatures": {
                                      "title": "signatures",
                                      "type": "array",
                                      "description": "The signatures of the given signers",
                                      "items": {
                                        "title": "signatures",
                                        "type": "string"
                                      }
                                    },
                                    "signers": {
                                      "title": "signers",
                                      "type": "array",
                                      "description": "The signers who verify the data integrity",
                                      "items": {
                                        "title": "signers",
                                        "type": "string"
                                      }
                                    }
                                  },
                                  "type": "object",
                                  "additionalProperties": false
                                },
                                "spot_aggregate_latest": {
                                  "title": "spot_aggregate_latest",
                                  "type": "string",
                                  "format": "decimal",
                                  "description": "expiry -> spot * time value at the latest timestamp"
                                },
                                "spot_aggregate_start": {
                                  "title": "spot_aggregate_start",
                                  "type": "string",
                                  "format": "decimal",
                                  "description": "spot * time value at the start of the settlement period"
                                },
                                "timestamp": {
                                  "title": "timestamp",
                                  "type": "integer",
                                  "description": "The timestamp for which the data was created"
                                }
                              },
                              "type": "object",
                              "additionalProperties": false
                            }
                          }
                        },
                        "perp_data": {
                          "title": "perp_data",
                          "type": "object",
                          "description": "currency -> feed type -> latest perp feed data",
                          "additionalProperties": {
                            "title": "perp_data",
                            "type": "object",
                            "additionalProperties": {
                              "required": [
                                "confidence",
                                "currency",
                                "deadline",
                                "signatures",
                                "spot_diff_value",
                                "timestamp",
                                "type"
                              ],
                              "properties": {
                                "confidence": {
                                  "title": "confidence",
                                  "type": "string",
                                  "format": "decimal",
                                  "description": "The confidence score of the price"
                                },
                                "currency": {
                                  "title": "currency",
                                  "type": "string",
                                  "description": "The currency for which the spot feed represents"
                                },
                                "deadline": {
                                  "title": "deadline",
                                  "type": "integer",
                                  "description": "The latest time the data can be submitted on chain"
                                },
                                "signatures": {
                                  "properties": {
                                    "signatures": {
                                      "title": "signatures",
                                      "type": "array",
                                      "description": "The signatures of the given signers",
                                      "items": {
                                        "title": "signatures",
                                        "type": "string"
                                      }
                                    },
                                    "signers": {
                                      "title": "signers",
                                      "type": "array",
                                      "description": "The signers who verify the data integrity",
                                      "items": {
                                        "title": "signers",
                                        "type": "string"
                                      }
                                    }
                                  },
                                  "type": "object",
                                  "additionalProperties": false
                                },
                                "spot_diff_value": {
                                  "title": "spot_diff_value",
                                  "type": "string",
                                  "format": "decimal",
                                  "description": "The difference between the spot price and the perp price"
                                },
                                "timestamp": {
                                  "title": "timestamp",
                                  "type": "integer",
                                  "description": "The timestamp for which the data was created"
                                },
                                "type": {
                                  "title": "type",
                                  "type": "string",
                                  "enum": ["P", "A", "B"],
                                  "description": "The type of perp feed; mid price, ask impact or bid impact"
                                }
                              },
                              "type": "object",
                              "additionalProperties": false
                            }
                          }
                        },
                        "spot_data": {
                          "title": "spot_data",
                          "type": "object",
                          "description": "currency -> latest spot feed data",
                          "additionalProperties": {
                            "required": ["confidence", "currency", "deadline", "price", "signatures", "timestamp"],
                            "properties": {
                              "confidence": {
                                "title": "confidence",
                                "type": "string",
                                "format": "decimal",
                                "description": "The confidence score of the price"
                              },
                              "currency": {
                                "title": "currency",
                                "type": "string",
                                "description": "The currency for which the spot feed represents"
                              },
                              "deadline": {
                                "title": "deadline",
                                "type": "integer",
                                "description": "The latest time the data can be submitted on chain"
                              },
                              "price": {
                                "title": "price",
                                "type": "string",
                                "format": "decimal",
                                "description": "The price of the currency in USD"
                              },
                              "signatures": {
                                "properties": {
                                  "signatures": {
                                    "title": "signatures",
                                    "type": "array",
                                    "description": "The signatures of the given signers",
                                    "items": {
                                      "title": "signatures",
                                      "type": "string"
                                    }
                                  },
                                  "signers": {
                                    "title": "signers",
                                    "type": "array",
                                    "description": "The signers who verify the data integrity",
                                    "items": {
                                      "title": "signers",
                                      "type": "string"
                                    }
                                  }
                                },
                                "type": "object",
                                "additionalProperties": false
                              },
                              "timestamp": {
                                "title": "timestamp",
                                "type": "integer",
                                "description": "The timestamp for which the data was created"
                              }
                            },
                            "type": "object",
                            "additionalProperties": false
                          }
                        },
                        "vol_data": {
                          "title": "vol_data",
                          "type": "object",
                          "description": "currency -> expiry -> latest vol feed data",
                          "additionalProperties": {
                            "title": "vol_data",
                            "type": "object",
                            "additionalProperties": {
                              "required": [
                                "confidence",
                                "currency",
                                "deadline",
                                "expiry",
                                "signatures",
                                "timestamp",
                                "vol_data"
                              ],
                              "properties": {
                                "confidence": {
                                  "title": "confidence",
                                  "type": "string",
                                  "format": "decimal",
                                  "description": "The confidence score of the price"
                                },
                                "currency": {
                                  "title": "currency",
                                  "type": "string",
                                  "description": "The currency for which the spot feed represents"
                                },
                                "deadline": {
                                  "title": "deadline",
                                  "type": "integer",
                                  "description": "The latest time the data can be submitted on chain"
                                },
                                "expiry": {
                                  "title": "expiry",
                                  "type": "integer",
                                  "description": "The expiry for the options for the vol feed"
                                },
                                "signatures": {
                                  "properties": {
                                    "signatures": {
                                      "title": "signatures",
                                      "type": "array",
                                      "description": "The signatures of the given signers",
                                      "items": {
                                        "title": "signatures",
                                        "type": "string"
                                      }
                                    },
                                    "signers": {
                                      "title": "signers",
                                      "type": "array",
                                      "description": "The signers who verify the data integrity",
                                      "items": {
                                        "title": "signers",
                                        "type": "string"
                                      }
                                    }
                                  },
                                  "type": "object",
                                  "additionalProperties": false
                                },
                                "timestamp": {
                                  "title": "timestamp",
                                  "type": "integer",
                                  "description": "The timestamp for which the data was created"
                                },
                                "vol_data": {
                                  "required": [
                                    "SVI_a",
                                    "SVI_b",
                                    "SVI_fwd",
                                    "SVI_m",
                                    "SVI_refTau",
                                    "SVI_rho",
                                    "SVI_sigma"
                                  ],
                                  "properties": {
                                    "SVI_a": {
                                      "title": "SVI_a",
                                      "type": "string",
                                      "format": "decimal"
                                    },
                                    "SVI_b": {
                                      "title": "SVI_b",
                                      "type": "string",
                                      "format": "decimal"
                                    },
                                    "SVI_fwd": {
                                      "title": "SVI_fwd",
                                      "type": "string",
                                      "format": "decimal"
                                    },
                                    "SVI_m": {
                                      "title": "SVI_m",
                                      "type": "string",
                                      "format": "decimal"
                                    },
                                    "SVI_refTau": {
                                      "title": "SVI_refTau",
                                      "type": "string",
                                      "format": "decimal"
                                    },
                                    "SVI_rho": {
                                      "title": "SVI_rho",
                                      "type": "string",
                                      "format": "decimal"
                                    },
                                    "SVI_sigma": {
                                      "title": "SVI_sigma",
                                      "type": "string",
                                      "format": "decimal"
                                    }
                                  },
                                  "type": "object",
                                  "additionalProperties": false
                                }
                              },
                              "type": "object",
                              "additionalProperties": false
                            }
                          }
                        }
                      },
                      "type": "object",
                      "additionalProperties": false
                    }
                  },
                  "type": "object",
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "currency": {
                    "title": "currency",
                    "type": "string",
                    "default": null,
                    "description": "Currency filter, (defaults to all currencies)",
                    "nullable": true
                  },
                  "expiry": {
                    "title": "expiry",
                    "type": "integer",
                    "default": null,
                    "description": "Expiry filter for options and forward data (defaults to all expiries). Use `0` to get data only for spot and perpetuals",
                    "nullable": true
                  }
                },
                "type": "object",
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/public/get_spot_feed_history": {
      "post": {
        "tags": ["Public"],
        "summary": "Get Spot Feed History",
        "description": "Get spot feed history by currency",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["id", "result"],
                  "properties": {
                    "id": {
                      "anyOf": [
                        {
                          "title": "",
                          "type": "string"
                        },
                        {
                          "title": "",
                          "type": "integer"
                        }
                      ]
                    },
                    "result": {
                      "required": ["currency", "spot_feed_history"],
                      "properties": {
                        "currency": {
                          "title": "currency",
                          "type": "string",
                          "description": "Currency"
                        },
                        "spot_feed_history": {
                          "title": "spot_feed_history",
                          "type": "array",
                          "description": "Spot feed history",
                          "items": {
                            "required": ["confidence", "price", "timestamp", "timestamp_bucket"],
                            "properties": {
                              "confidence": {
                                "title": "confidence",
                                "type": "string",
                                "format": "decimal",
                                "description": "Confidence score of the spot price"
                              },
                              "price": {
                                "title": "price",
                                "type": "string",
                                "format": "decimal",
                                "description": "Spot price"
                              },
                              "timestamp": {
                                "title": "timestamp",
                                "type": "integer",
                                "description": "Timestamp of when the spot price was recored into the database"
                              },
                              "timestamp_bucket": {
                                "title": "timestamp_bucket",
                                "type": "integer",
                                "description": "Timestamp bucket; this value is regularly spaced out with `period` seconds between data points, missing values are forward-filled from earlier data where possible, if no earlier data is available, values are back-filled from the first observed data point"
                              }
                            },
                            "type": "object",
                            "additionalProperties": false
                          }
                        }
                      },
                      "type": "object",
                      "additionalProperties": false
                    }
                  },
                  "type": "object",
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": ["currency", "end_timestamp", "period", "start_timestamp"],
                "properties": {
                  "currency": {
                    "title": "currency",
                    "type": "string",
                    "description": "Currency"
                  },
                  "end_timestamp": {
                    "title": "end_timestamp",
                    "type": "integer",
                    "description": "End timestamp"
                  },
                  "period": {
                    "title": "period",
                    "type": "integer",
                    "description": "Period"
                  },
                  "start_timestamp": {
                    "title": "start_timestamp",
                    "type": "integer",
                    "description": "Start timestamp"
                  }
                },
                "type": "object",
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/public/get_trade_history": {
      "post": {
        "tags": ["Public"],
        "summary": "Get Trade History",
        "description": "Get trade history for a subaccount, with filter parameters.",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["id", "result"],
                  "properties": {
                    "id": {
                      "anyOf": [
                        {
                          "title": "",
                          "type": "string"
                        },
                        {
                          "title": "",
                          "type": "integer"
                        }
                      ]
                    },
                    "result": {
                      "required": ["pagination", "trades"],
                      "properties": {
                        "pagination": {
                          "required": ["count", "num_pages"],
                          "properties": {
                            "count": {
                              "title": "count",
                              "type": "integer",
                              "description": "Total number of items, across all pages"
                            },
                            "num_pages": {
                              "title": "num_pages",
                              "type": "integer",
                              "description": "Number of pages"
                            }
                          },
                          "type": "object",
                          "additionalProperties": false
                        },
                        "trades": {
                          "title": "trades",
                          "type": "array",
                          "description": "List of trades",
                          "items": {
                            "required": [
                              "direction",
                              "index_price",
                              "instrument_name",
                              "liquidity_role",
                              "mark_price",
                              "subaccount_id",
                              "timestamp",
                              "trade_amount",
                              "trade_fee",
                              "trade_id",
                              "trade_price",
                              "tx_hash",
                              "tx_status",
                              "wallet"
                            ],
                            "properties": {
                              "direction": {
                                "title": "direction",
                                "type": "string",
                                "enum": ["buy", "sell"],
                                "description": "Order direction"
                              },
                              "index_price": {
                                "title": "index_price",
                                "type": "string",
                                "format": "decimal",
                                "description": "Index price of the underlying at the time of the trade"
                              },
                              "instrument_name": {
                                "title": "instrument_name",
                                "type": "string",
                                "description": "Instrument name"
                              },
                              "liquidity_role": {
                                "title": "liquidity_role",
                                "type": "string",
                                "enum": ["maker", "taker"],
                                "description": "Role of the user in the trade"
                              },
                              "mark_price": {
                                "title": "mark_price",
                                "type": "string",
                                "format": "decimal",
                                "description": "Mark price of the instrument at the time of the trade"
                              },
                              "subaccount_id": {
                                "title": "subaccount_id",
                                "type": "integer",
                                "description": "Subaccount ID"
                              },
                              "timestamp": {
                                "title": "timestamp",
                                "type": "integer",
                                "description": "Trade timestamp (in ms since Unix epoch)"
                              },
                              "trade_amount": {
                                "title": "trade_amount",
                                "type": "string",
                                "format": "decimal",
                                "description": "Amount filled in this trade"
                              },
                              "trade_fee": {
                                "title": "trade_fee",
                                "type": "string",
                                "format": "decimal",
                                "description": "Fee for this trade"
                              },
                              "trade_id": {
                                "title": "trade_id",
                                "type": "string",
                                "description": "Trade ID"
                              },
                              "trade_price": {
                                "title": "trade_price",
                                "type": "string",
                                "format": "decimal",
                                "description": "Price at which the trade was filled"
                              },
                              "tx_hash": {
                                "title": "tx_hash",
                                "type": "string",
                                "description": "Blockchain transaction hash"
                              },
                              "tx_status": {
                                "title": "tx_status",
                                "type": "string",
                                "enum": ["settled", "reverted"],
                                "description": "Blockchain transaction status"
                              },
                              "wallet": {
                                "title": "wallet",
                                "type": "string",
                                "description": "Wallet address (owner) of the subaccount"
                              }
                            },
                            "type": "object",
                            "additionalProperties": false
                          }
                        }
                      },
                      "type": "object",
                      "additionalProperties": false
                    }
                  },
                  "type": "object",
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "currency": {
                    "title": "currency",
                    "type": "string",
                    "default": null,
                    "description": "Currency to filter by (defaults to all)",
                    "nullable": true
                  },
                  "from_timestamp": {
                    "title": "from_timestamp",
                    "type": "integer",
                    "default": 0,
                    "description": "Earliest timestamp to filter by (in ms since Unix epoch). If not provied, defaults to 0."
                  },
                  "instrument_name": {
                    "title": "instrument_name",
                    "type": "string",
                    "default": null,
                    "description": "Instrument name to filter by (defaults to all)",
                    "nullable": true
                  },
                  "instrument_type": {
                    "title": "instrument_type",
                    "type": "string",
                    "default": null,
                    "enum": ["erc20", "option", "perp"],
                    "description": "Instrument type to filter by (defaults to all)",
                    "nullable": true
                  },
                  "page": {
                    "title": "page",
                    "type": "integer",
                    "default": 1,
                    "description": "Page number of results to return (default 1, returns last if above `num_pages`)"
                  },
                  "page_size": {
                    "title": "page_size",
                    "type": "integer",
                    "default": 100,
                    "description": "Number of results per page (default 100, max 1000)"
                  },
                  "to_timestamp": {
                    "title": "to_timestamp",
                    "type": "integer",
                    "default": 18446744073709552000,
                    "description": "Latest timestamp to filter by (in ms since Unix epoch). If not provied, defaults to returning all data up to current time."
                  },
                  "tx_status": {
                    "title": "tx_status",
                    "type": "string",
                    "default": "settled",
                    "enum": ["settled", "reverted"],
                    "description": "Transaction status to filter by (default `settled`)."
                  }
                },
                "type": "object",
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/public/get_transaction": {
      "post": {
        "tags": ["Public"],
        "summary": "Get Transaction",
        "description": "Used for getting a transaction by its transaction id",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["id", "result"],
                  "properties": {
                    "id": {
                      "anyOf": [
                        {
                          "title": "",
                          "type": "string"
                        },
                        {
                          "title": "",
                          "type": "integer"
                        }
                      ]
                    },
                    "result": {
                      "required": ["status", "transaction_hash"],
                      "properties": {
                        "status": {
                          "title": "status",
                          "type": "string",
                          "enum": ["requested", "pending", "settled", "reverted", "ignored"],
                          "description": "Status of the transaction"
                        },
                        "transaction_hash": {
                          "title": "transaction_hash",
                          "type": "string",
                          "default": null,
                          "description": "Transaction hash of a pending tx",
                          "nullable": true
                        }
                      },
                      "type": "object",
                      "additionalProperties": false
                    }
                  },
                  "type": "object",
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": ["transaction_id"],
                "properties": {
                  "transaction_id": {
                    "title": "transaction_id",
                    "type": "string",
                    "format": "uuid",
[...]
